<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Season</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../shows.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-toggleable-md navbar navbar-dark bg-dark bg-faded p-2">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <a class="navbar-brand" href="#">
        Game of Thrones
    </a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../../index.html">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="houses.html">Houses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="characters.html">Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="books.html">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="shows.html">Tv-Shows</a>
            </li>
        </ul>
        <span class="navbar-text">
            <a href="log-in.html">
                <i class="fa fa-user-circle"></i>
            Log-In</a>
        </span>
    </div>
</nav>
<!-- Termina barra de navegación -->



<!-- Comienza contenido gral -->
<div class="container">
    <h2 class=" mt-2 mb-2 text-center text-uppercase">Tv-Show</h2>
    <div id="accordion" class=" mt-5 mb-5">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Season 1
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body m-4">
                    The series begins as Ned Stark is asked to become the chief advisor (known as the Hand of the King) to lecherous King Robert Baratheon. Ned and his wife Catelyn receive a letter from Catelyn's sister Lysa that gives them reason to believe that rival House Lannister – to which the King's wife Cersei belongs – was the cause of the previous Hand's death. Ned must travel south to help the king and find out who killed the previous Hand of the King, Jon Arryn, while trying to protect his family from the Lannisters. As he tries to uncover the reasons behind Jon Arryn's death he uncovers the dark secrets about the Lannisters that Arryn himself died trying to expose.
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink">See episodes</a>
                        <ul id="firstLink" class="collapse">
                            <li>
                                <a href="#">"Winter Is Coming"</a>
                            </li>
                            <li>
                                <a href="#">"The Kingsroad"</a>
                            </li>
                            <li>
                                <a href="#">"Lord Snow"</a>
                            </li>
                            <li>
                                <a href="#">"Cripples, Bastards, and Broken Things"</a>
                            </li>
                            <li>
                                <a href="#">"The Wolf and the Lion"</a>
                            </li>
                            <li>
                                <a href="#">"A Golden Crown"</a>
                            </li>
                            <li>
                                <a href="#">"You Win or You Die"</a>
                            </li>
                            <li>
                                <a href="#">"The Pointy End"</a>
                            </li>
                            <li>
                                <a href="#">"Baelor"</a>
                            </li>
                            <li>
                                <a href="#">"Fire and Blood"</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Season 2
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body m-4">
                   The execution of Ned leads the Starks to declare war on the Lannisters. After winning three victories, Robb Stark offers the Lannisters peace in exchange for the North's independence, sending Theon Greyjoy to gain Balon Greyjoy's support and Catelyn Stark to seek Renly Baratheon's. Cersei Lannister rejects Robb's terms. Meanwhile, Tyrion Lannister exiles Janos Slynt, head of the Gold Cloaks, to the Wall, promoting Bronn to commander of the watch.
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink">See episodes</a>
                        <ul id="secondLink" class="collapse">
                            <li>
                                <a href="#">"The North Remembers"</a>
                            </li>
                            <li>
                                <a href="#">"The Night Lands"</a>
                            </li>
                            <li>
                                <a href="#">"What Is Dead May Never Die"</a>
                            </li>
                            <li>
                                <a href="#">"Garden of Bones"</a>
                            </li>
                            <li>
                                <a href="#">"The Ghost of Harrenhal"</a>
                            </li>
                            <li>
                                <a href="#">"The Old Gods and the New"</a>
                            </li>
                            <li>
                                <a href="#">"A Man Without Honor"</a>
                            </li>
                            <li>
                                <a href="#">"The Prince of Winterfell"</a>
                            </li>
                            <li>
                                <a href="#">"Blackwater"</a>
                            </li>
                            <li>
                                <a href="#">"Valar Morghulis"</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Season 3
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body m-4">
                    After defeating Stannis Baratheon at the Battle of the Blackwater, the Lannisters hold a firm grasp on the Iron Throne. They are threatened by their new ally House Tyrell, powerful and manipulative players of the game. Tyrion Lannister struggles with losing the power he had as Hand of the King and feels his father doesn't appreciate the service he provided the family as Hand. Meanwhile, Jaime Lannister continues his attempt to return home and begins to form a bond with his road companion, Brienne of Tarth.
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink">See episodes</a>
                        <ul id="secondLink" class="collapse">
                            <li>
                                <a href="#">"Valar Dohaeris"</a>
                            </li>
                            <li>
                                <a href="#">"Dark Wings, Dark Words"</a>
                            </li>
                            <li>
                                <a href="#">"Walk of Punishment"</a>
                            </li>
                            <li>
                                <a href="#">"And Now His Watch Is Ended"</a>
                            </li>
                            <li>
                                <a href="#">"Kissed by Fire"</a>
                            </li>
                            <li>
                                <a href="#">"The Climb"</a>
                            </li>
                            <li>
                                <a href="#">"The Bear and the Maiden Fair"</a>
                            </li>
                            <li>
                                <a href="#">"Second Sons"</a>
                            </li>
                            <li>
                                <a href="#">"The Rains of Castamere"</a>
                            </li>
                            <li>
                                <a href="#">"Mhysa"</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Season 4
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body m-4">
                    In King's Landing, guests arrive for Joffrey Baratheon and Margaery Tyrell's wedding. Among those in attendance is Oberyn Martell, Prince of Dorne. After Joffrey is poisoned at his wedding by Margaery's grandmother, Olenna Tyrell, Cersei Lannister blames Tyrion for his death. Outraged at the kangaroo court presiding over his trial, Tyrion demands a trial by combat. Cersei chooses the Mountain as her champion and Oberyn offers to represent Tyrion. The trial ends in a victory for the Mountain and Tyrion is sentenced to death. Before he can be executed, Tyrion is freed by Jaime, who tells him Varys will smuggle him to the Free Cities. Tyrion, discovering that Shae had been sleeping with Tywin, strangles her to death before killing Tywin and fleeing Westeros.
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink">See episodes</a>
                        <ul id="secondLink" class="collapse">
                            <li>
                                <a href="#">"Two Swords"</a>
                            </li>
                            <li>
                                <a href="#">"The Lion and the Rose"</a>
                            </li>
                            <li>
                                <a href="#">"Breaker of Chains"</a>
                            </li>
                            <li>
                                <a href="#">"Oathkeeper"</a>
                            </li>
                            <li>
                                <a href="#">"First of His Name"5</a>
                            </li>
                            <li>
                                <a href="#">"The Laws of Gods and Men"</a>
                            </li>
                            <li>
                                <a href="#">"Mockingbird"</a>
                            </li>
                            <li>
                                <a href="#">"The Mountain and the Viper"</a>
                            </li>
                            <li>
                                <a href="#">"The Watchers on the Wall"</a>
                            </li>
                            <li>
                                <a href="#">"The Children"</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Season 5
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body m-4">
                    In Meereen, the Sons of the Harpy have started to revolt against Daenerys Targaryen's regime. To regain peace and control, Daenerys complies with the request of re-opening the fighting pits while taking Hizdahr zo Loraq as her husband.

                    Tyrion Lannister and Varys arrive in Pentos and they begin their journey to Meereen. They pass through Volantis, where Tyrion is abducted by Jorah Mormont, who takes him to Meereen as a way to redeem himself to Daenerys, but she instead takes Tyrion as her advisor and exiles Jorah. The Sons of the Harpy mount an attack on Daenerys, Drogon reappears and Daenerys flies away on his back, landing in the Dothraki sea.

                    At the Wall, newly elected Lord Commander of the Night's Watch, Jon Snow forms an alliance with the Wildlings. They begin evacuating Wildlings at Hardhome, when the settlement comes under attack from White Walkers and their wight armies. Samwell Tarly and Gilly leave for Oldtown and Maester Aemon passes away. A faction of the Night's Watch become disillusioned with Jon's leadership and see him as a traitor. They lure Jon into a trap and stab him, leaving him to die.
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink">See episodes</a>
                        <ul id="secondLink" class="collapse">
                            <li>
                                <a href="#">"The Wars to Come"</a>
                            </li>
                            <li>
                                <a href="#">"The House of Black and White"</a>
                            </li>
                            <li>
                                <a href="#">"High Sparrow"</a>
                            </li>
                            <li>
                                <a href="#">"Sons of the Harpy"</a>
                            </li>
                            <li>
                                <a href="#">"Kill the Boy"</a>
                            </li>
                            <li>
                                <a href="#">"Unbowed, Unbent, Unbroken"</a>
                            </li>
                            <li>
                                <a href="#">"The Gift"</a>
                            </li>
                            <li>
                                <a href="#">"Hardhome"</a>
                            </li>
                            <li>
                                <a href="#">"The Dance of Dragons"</a>
                            </li>
                            <li>
                                <a href="#">"Mother's Mercy"</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Season 6
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body m-4">
                    The season follows the continuing struggle between the Starks and other noble families of Westeros for the Iron Throne. The Starks defeat the Bolton forces in battle, and Jon Snow is proclaimed the King in the North. Tyrion attempts to rule Meereen while Daenerys is held captive by a Dothraki tribe. At King's Landing, the Tyrell army attempts to liberate Margaery and Loras, but Margaery capitulates to the High Sparrow, who becomes more powerful by influencing King Tommen. At her trial, Cersei burns the Great Sept, killing her rivals, while Tommen kills himself. Cersei is crowned Queen of the Seven Kingdoms. Ellaria Sand and three of Oberyn Martell's daughters kill Doran and Trystane Martell and seize control of Dorne. In Essos, Daenerys Targaryen is captured by Khal Moro who takes her before the khals; she burns them alive and takes command of the Dothraki. Olenna and the Dornish ally with Daenerys.
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink">See episodes</a>
                        <ul id="secondLink" class="collapse">
                            <li>
                                <a href="#">"The Red Woman"</a>
                            </li>
                            <li>
                                <a href="#">"Home"</a>
                            </li>
                            <li>
                                <a href="#">"Oathbreaker"</a>
                            </li>
                            <li>
                                <a href="#">"Book of the Stranger"</a>
                            </li>
                            <li>
                                <a href="#">"The Door"</a>
                            </li>
                            <li>
                                <a href="#">"Blood of My Blood"</a>
                            </li>
                            <li>
                                <a href="#">"The Broken Man"</a>
                            </li>
                            <li>
                                <a href="#">"No One"</a>
                            </li>
                            <li>
                                <a href="#">"Battle of the Bastards"</a>
                            </li>
                            <li>
                                <a href="#">"The Winds of Winter"</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Season 7 
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body m-4">
                    The penultimate season focuses primarily on the convergence of the show's main plotlines, featuring major events such as Daenerys Targaryen arriving in Westeros with her army and three dragons and waging war against the Lannisters, Jon Snow forging an alliance with Daenerys in an attempt to unite their forces against the White Walker army, Arya and Bran returning to Winterfell and reuniting with their sister Sansa, and the army of the dead breaching the Wall (with the help of a reanimated wight dragon) and entering the Seven Kingdoms.
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#thirdLink">See episodes</a>
                        <ul id="thirdLink" class="collapse">
                            <li>
                                <a href="#">"Dragonstone"</a>
                            </li>
                            <li>
                                <a href="#">"Stormborn"</a>
                            </li>
                            <li>
                                <a href="#">"The Queen's Justice"</a>
                            </li>
                            <li>
                                <a href="#">"The Spoils of War"</a>
                            </li>
                            <li>
                                <a href="#">"Eastwatch"</a>
                            </li>
                            <li>
                                <a href="#">"Beyond the Wall"</a>
                            </li>
                            <li>
                                <a href="#">"The Dragon and the Wolf"</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Termina contenido gral -->

<!-- Comienza footer -->
<div class="container-fluid footer">
    <div class="row">
        <div class="col text-center mt-4">
            <h4>Game of Thrones</h4>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <span class="font-weight-bold d-block text-center mb-1">LINKS 1</span>
            <a href="../../index.html" class="d-block text-center">Map</a>
            <a href="houses.html" class="d-block text-center mb-1">Houses</a>
            <a href="characters.html" class="d-block text-center mb-1">Characters</a>
            <a href="shows.html" class="d-block text-center mb-1">Tv-Shows</a>
            <a href="books.html" class="d-block text-center mb-1">Books</a>
        </div>
        <div class="col">
            <span class="font-weight-bold d-block text-center mb-1">LINKS 2</span>
            <a href="#" class="d-block text-center mb-1">About us</a>
            <a href="#" class="d-block text-center mb-1">Contact us</a>
            <a href="#" class="d-block text-center mb-1">FAQ</a>
        </div>
        <div class="col">
            <span class="font-weight-bold d-block text-center mb-1">LINKS 3</span>
            <a href="#" class="d-block text-center mb-1">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="#" class="d-block text-center mb-1">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#" class="d-block text-center mb-1">
                <i class="fab fa-instagram"></i>
            </a>

        </div>
    </div>
</div>
<!-- Termina Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
crossorigin="anonymous"></script>
<script src="../../js/app.js" charset="utf-8"></script>
<script src="../../js/shows.js"></script>
</body>

</html>